@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .opensans {
    @apply font-sans tracking-widest;
  }
}

* {
  scrollbar-color: rgb(220 38 38) rgb(63 63 70);
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-zinc-700;
}

::-webkit-scrollbar-thumb {
  @apply bg-red-600;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-red-700;
}

.outlined-text {
  text-shadow: -1px -1px 0px #fca5a5, 1px 1px 0px #ff005a;
}

.title {
  @apply text-center font-tthxb text-3xl tracking-wide my-3 text-red-700 fsm:text-5xl;
}

.subtitle {
  @apply text-center font-tthxb text-xl tracking-wide mt-10 mb-3 text-red-700 fsm:text-3xl;
}

.p {
  @apply text-center opensans text-base font-bold tracking-2 fsm:text-lg;
}
